﻿@model ServicioClientes.Models.Cliente

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Quieres eliminar este cliente?</h3>
<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capell)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capell)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Csaldo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Csaldo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
