﻿@model ServicioClientes.Models.Cliente

@{
    ViewData["Title"] = "Detail";
}

<h1>Detalles del cliente</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capell)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capell)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Csaldo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Csaldo)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
