﻿@model ServicioClientes.Models.Cliente

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar cliente</h1>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cid" class="control-label"></label>
                <input asp-for="Cid" class="form-control" />
                <span asp-validation-for="Cid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cname" class="control-label"></label>
                <input asp-for="Cname" class="form-control" />
                <span asp-validation-for="Cname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capell" class="control-label"></label>
                <input asp-for="Capell" class="form-control" />
                <span asp-validation-for="Capell" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cmail" class="control-label"></label>
                <input asp-for="Cmail" class="form-control" />
                <span asp-validation-for="Cmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Csaldo" class="control-label"></label>
                <input asp-for="Csaldo" class="form-control" />
                <span asp-validation-for="Csaldo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
