﻿@model IEnumerable<ServicioClientes.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">

    <p>
        <input type="search" placeholder="Ingresa Nombre o Email para realizar busqueda:" name="cSearch"
               value="@ViewData["GetCDetails"]" style="width= 500px;" />
        <input type="submit" value="Buscar" class="btn btn-primary" />
        <a asp-action="Index">Ver Todos los clientes</a>
    </p>

</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capell)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Csaldo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capell)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Csaldo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Cid }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Details", "Detail", new { id = item.Cid }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Cid }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
